body {
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
}
main {
  padding: 10%;
  flex: 1 1 90%;
}
.recipe-grid-container {
  display: grid;
  width: min(90%, 125rem);
  height: 100%;
  margin: 5rem auto;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.recipe-card {
  height: 300px;
  text-align: center;
}
.recipe-card a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe-card span {
  font-size: 3rem;
}
.recipe-card h1 a:hover {
  cursor: poiner;
}
section {
  flex: 1 1 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
.dropdown ul {
  display: none;
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 0;
  z-index: 999;
  color: white;
  padding: 20px;
  width: 93%;
}
.newlist {
  display: block !important;
}

button {
  border: none;
  padding: 0;
  background-color: (0, 0, 0, 0.1);
  font-family: inherit;
  padding: 40px;
  pointer-events: all;
  width: 100%;
  z-index: 1;
  font-size: 1.1rem;
}
button:focus + .dropdown-content {
  display: block;
}
button:hover {
  cursor: pointer;
}
.recipe-card:hover {
  background: #ebeae4;
}
@media only screen and (max-width: 992px) {
  .recipe-grid-container {
    grid-template-columns: repeat(2, 1fr);
    font-size: 1rem;
  }
}
@media only screen and (max-width: 576px) {
  .recipe-card h1 {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 768px) {
  .recipe-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  main {
    padding: 10px;
  }
  .recipe-card h1 {
    font-size: 1.8rem;
  }
}
